
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: #1b1f23;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #1b1f23;
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: #626262;
}

* {
    font-family: "Inter var", "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}

ul, li {
    padding: 0 !important;
    margin: 0 !important;
}
li {
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;

    .core-app-style__container {
        color: #626262;
        padding: 15px;
        background-color: #1b1f23;
        border-radius: 6px;
        box-shadow: -2px -1px 2px 0px #262830,
        2px 1px 4px 0px #0e1013;
    }
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
}

.core-app-style {

    /// FLEXIBLE DISPLAY
    .core-display-flex__center {
        // 📗📗📗📗📗📗📗📗📗📗📗📗
        // 📗
        // 📗
        // 📗
        // 📗           🌸
        // 📗
        // 📗
        // 📗
        // 📗

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;

        &.no-wrap {
            flex-wrap: nowrap !important;
        }
    }
    .core-display-flex__LRTB {
        // Left to Right & Top to Bottom
        // 📗📗📗📗📗📗📗📗📗📗📗📗
        // 📗🌸🌸🌸🌸🌸🌸🌸🌸🌸🌸🌸
        // 📗🌸🌸🌸🌸🌸
        // 📗
        // 📗
        // 📗
        // 📗
        // 📗
        // 📗

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;

        &.no-wrap {
            flex-wrap: nowrap !important;
        }
    }
    .core-display-flex__LTB {
        // Left & Top to Bottom
        // 📗📗📗📗📗📗📗📗📗📗📗📗
        // 📗🌸
        // 📗🌸
        // 📗🌸
        // 📗🌸
        // 📗🌸
        // 📗
        // 📗
        // 📗

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;

        &.no-wrap {
            flex-wrap: nowrap !important;
        }
    }
    .core-display-flex__center-vertical {
        // Left to Right & Top to Bottom & Center of Vertical Orientation
        // 📗📗📗📗📗📗📗📗📗📗📗📗
        // 📗
        // 📗
        // 📗
        // 📗🌸🌸🌸🌸🌸
        // 📗
        // 📗
        // 📗
        // 📗

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;

        &.no-wrap {
            flex-wrap: nowrap !important;
        }
    }
    .core-display-flex__center-horizontal {
        // Left to Right & Top to Bottom & Center of Horizontal Orientation
        // 📗📗📗📗📗📗📗📗📗📗📗📗
        // 📗           🌸
        // 📗           🌸
        // 📗           🌸
        // 📗           🌸
        // 📗           🌸
        // 📗
        // 📗
        // 📗

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;

        &.no-wrap {
            flex-wrap: nowrap !important;
        }
    }

    .core-classic-style {

        /// COMPONENTS
        .core-app-style__alert {

        }

        .core-app-style__table {

        }

        .core-app-style__badge {

        }

        .core-app-style__breadcrumb {

        }

        .core-app-style__button {

        }

        .core-app-style__card {

        }

        .core-app-style__dropdown {

        }

        .core-app-style__list-group {

        }

        .core-app-style__modal {

        }

        .core-app-style__navbar {

        }

        .core-app-style__pagination {

        }

        .core-app-style__notification {

            &.success {

            }

            &.warning {

            }

            &.error {

            }
        }

        /// FORMS
        .core-app-style__form {

            .label {

            }

            .validation {

            }

            .core-app-style__input {

                input {

                }
            }

            .core-app-style__checkbox {

            }

            .core-app-style__radio {

            }
        }

        .core-app-style__label {

        }

        .core-app-style__loader {

        }

    }

    .core-dark-mode-style {

    }

    .core-neumorphism-style {

        /// Checkbox change mode __Start
        .on-off
        {
            position: relative;
            width: 80px;
            height: 40px;
            margin: 15px;
            font: 500 10px arial;
        }

        .on-off input
        {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider
        {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 100px;
            background: #f2f3f7;
            box-shadow: inset -2px -2px 5px rgba(255,255,255,1), inset 3px 3px 5px rgba(0,0,0,0.07);
            transition: 0.4s ease ease;
        }
        .slider:before
        {
            position: absolute;
            content:"Bk";
            text-align: center;
            line-height: 30px;
            width: 30px;
            height: 30px;
            left: 8px;
            bottom: 5px;
            background: #f2f3f7;
            box-shadow: -2px -2px 5px rgba(255,255,255,1), 3px 3px 5px rgba(0,0,0,0.07);
            border-radius: 100px;
            transition: 0.4s;
        }
        input:checked + .slider
        {
            background: #1C1E24;
            box-shadow: inset -2px -2px 6px rgba(255,255,255,0.05),
            inset 2px 2px 6px rgba(0,0,0,0.5);
            transition:0.4s;
        }

        input:checked + .slider:before
        {
            content: "WH";
            transform: translateX(36px);
            background: #1C1E24;
            box-shadow: -2px -2px 6px rgba(255,255,255,0.05),
            2px 2px 6px rgba(0,0,0,0.5);
            color: #f2f3f7;
            width: 30px;
            height: 30px;
            left: 8px;
            bottom: 5px;
            transition: 0.4s;
        }
        /// Checkbox change mode __End

        &.white-mode {

            background-color: #f2f3f7;

            /// COMPONENTS
            .core-app-style__alert {

            }

            .core-app-style__table {

            }

            .core-app-style__badge {

            }

            .core-app-style__breadcrumb {

            }

            .core-app-style__button {

            }

            .core-app-style__card {

            }

            .core-app-style__dropdown {

            }

            .core-app-style__list-group {

            }

            .core-app-style__modal {

            }

            .core-app-style__navbar {

            }

            .core-app-style__pagination {

            }

            .core-app-style__notification {

                &.success {

                }

                &.warning {

                }

                &.error {

                }
            }

            /// FORMS
            .core-app-style__form {

                .label {

                }

                .validation {

                }

                .core-app-style__input {

                    input {

                    }
                }

                .core-app-style__checkbox {

                }

                .core-app-style__radio {

                }
            }

            .core-app-style__label {

            }

            .core-app-style__loader {

            }

            .core-app-style__skeleton {

            }
        }

        &.dark-mode {

            background-color: #1b1f23;

            color: #626262;
            //font-family: cursive;

            /// COMPONENTS
            .core-app-style__alert {

            }

            .core-app-style__table {
                color: #626262;
                border-color: #626262 !important;
                border-radius: 6px;

                td,th {
                    padding: 5px !important;
                    min-height: 56px !important;
                }
            }

            .core-app-style__badge {

            }

            .core-app-style__breadcrumb {

            }

            button.core-app-style__button {
                color: #626262;
                min-width: 40px;
                height: 35px;
                margin: 5px;
                padding: 0 10px;
                border-radius: 6px;
                background-color: #1b1f23;
                position: relative;
                outline: none;
                border: none;
                box-shadow: -4px -2px 4px 0px #262830,
                4px 2px 6px 0px #111316;
                cursor: pointer;
                font-size: 14px;

                &.circle-rounded {
                    border-radius: 50% !important;

                    &:active, &:focus {
                        &:after {
                            border-radius: 50% !important;
                        }
                    }
                }

                &.only-margin-vertical {
                    margin: 5px 0;
                }
                &.only-margin-horizontal {
                    margin: 0 5px;
                }

                i {
                    font-size: 14px;
                }

                transition: 0.2s;

                &:hover {
                    color: #626262;
                }

                &:active {
                    &.icon-effect-zoom-in {
                        i {
                            font-size: 12px;
                        }
                    }
                    &.icon-effect-zoom-out {
                        i {
                            font-size: 15px;
                        }
                    }
                }

                &:active, &:focus {
                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        border-radius: 6px;
                        box-shadow: 2px 2px 2px 0px #111316 inset,
                        -2px -2px 2px 0px #262830 inset;
                    }

                    &.success-color-press {
                        color: #B6FF1F;
                    }

                    /// Basic color
                    &.green-basic-color-press {
                        color: #BAE600;
                    }
                    &.navi-basic-color-press {
                        color: #428194;
                    }
                    &.orange-basic-color-press {
                        color: #F59500;
                    }
                    &.pink-basic-color-press {
                        color: #FA709E;
                    }
                    &.grey-basic-color-press {
                        color: #7D79A2;
                    }
                    &.yellow-basic-color-press {
                        color: #F6C31F;
                    }
                    &.red-basic-color-press {
                        color: #F7834B;
                    }
                    &.violet-basic-color-press {
                        color: #C964AE;
                    }
                    &.gray-basic-color-press {
                        color: #9AA5BA;
                    }


                    /// Outstanding Color
                    &.yellow-outstanding-color-press {
                        color: #F1DD00;
                    }
                    &.red-outstanding-color-press {
                        color: #E32B30;
                    }
                    &.blue-outstanding-color-press {
                        color: #554DFF;
                    }
                    &.green-outstanding-color-press {
                        color: #4CBB17;
                    }
                    &.orange-outstanding-color-press {
                        color: #F27405;
                    }

                    /// Harmony Color
                    &.yellow-harmony-color-press {
                        color: #F6FB45;
                    }
                    &.red-harmony-color-press {
                        color: #E96066;
                    }
                    &.blue-harmony-color-press {
                        color: #A7E1FF;
                    }
                    &.green-harmony-color-press {
                        color: #BCE1A3;
                    }
                    &.orange-harmony-color-press {
                        color: #E58E33;
                    }
                    &.violet-harmony-color-press {
                        color: #C787DF;
                    }
                    &.navy-harmony-color-press {
                        color: #6DC5CB;
                    }

                }

                &.active {
                    &:after  {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        border-radius: 6px;
                        box-shadow: 2px 2px 2px 0 #111316 inset,
                        -2px -2px 2px 0px #262830 inset;
                    }

                    &.success-color-active  {
                        color: #B6FF1F;
                    }

                    /// Basic color
                    &.green-basic-color-active {
                        color: #BAE600;
                    }
                    &.navi-basic-color-active {
                        color: #428194;
                    }
                    &.orange-basic-color-active {
                        color: #F59500;
                    }
                    &.pink-basic-color-active {
                        color: #FA709E;
                    }
                    &.grey-basic-color-active {
                        color: #7D79A2;
                    }
                    &.yellow-basic-color-active {
                        color: #F6C31F;
                    }
                    &.red-basic-color-active {
                        color: #F7834B;
                    }
                    &.violet-basic-color-active {
                        color: #C964AE;
                    }
                    &.gray-basic-color-active {
                        color: #9AA5BA;
                    }


                    /// Outstanding Color
                    &.yellow-outstanding-color-active {
                        color: #F1DD00;
                    }
                    &.red-outstanding-color-active {
                        color: #E32B30;
                    }
                    &.blue-outstanding-color-active {
                        color: #554DFF;
                    }
                    &.green-outstanding-color-active {
                        color: #4CBB17;
                    }
                    &.orange-outstanding-color-active {
                        color: #F27405;
                    }

                    /// Harmony Color
                    &.yellow-harmony-color-active {
                        color: #F6FB45;
                    }
                    &.red-harmony-color-active {
                        color: #E96066;
                    }
                    &.blue-harmony-color-active {
                        color: #A7E1FF;
                    }
                    &.green-harmony-color-active {
                        color: #BCE1A3;
                    }
                    &.orange-harmony-color-active {
                        color: #E58E33;
                    }
                    &.violet-harmony-color-active {
                        color: #C787DF;
                    }
                    &.navy-harmony-color-active {
                        color: #6DC5CB;
                    }

                }

                &.success-color {
                    color: #B6FF1F;
                }

                /// Basic color
                &.green-basic-color {
                    color: #BAE600;
                }
                &.navi-basic-color {
                    color: #428194;
                }
                &.orange-basic-color {
                    color: #F59500;
                }
                &.pink-basic-color {
                    color: #FA709E;
                }
                &.grey-basic-color {
                    color: #7D79A2;
                }
                &.yellow-basic-color {
                    color: #F6C31F;
                }
                &.red-basic-color {
                    color: #F7834B;
                }
                &.violet-basic-color {
                    color: #C964AE;
                }
                &.gray-basic-color {
                    color: #9AA5BA;
                }


                /// Outstanding Color
                &.yellow-outstanding-color {
                    color: #F1DD00;
                }
                &.red-outstanding-color {
                    color: #E32B30;
                }
                &.blue-outstanding-color {
                    color: #554DFF;
                }
                &.green-outstanding-color {
                    color: #4CBB17;
                }
                &.orange-outstanding-color {
                    color: #F27405;
                }

                /// Harmony Color
                &.yellow-harmony-color {
                    color: #F6FB45;
                }
                &.red-harmony-color {
                    color: #E96066;
                }
                &.blue-harmony-color {
                    color: #A7E1FF;
                }
                &.green-harmony-color {
                    color: #BCE1A3;
                }
                &.orange-harmony-color {
                    color: #E58E33;
                }
                &.violet-harmony-color {
                    color: #C787DF;
                }
                &.navy-harmony-color {
                    color: #6DC5CB;
                }

                &.small-size {
                    padding: 0px 10px;
                    height: 28px;
                    min-width: 30px;
                    font-size: 12px;
                }
                &.full-size  {

                }

            }

            .core-app-style__card {

            }

            .core-app-style__container {
                padding: 15px;
                background-color: #1b1f23;
                border-radius: 6px;
                box-shadow: -2px -1px 2px 0px #262830,
                2px 1px 4px 0px #0e1013;
            }

            .core-app-style__content {
                width: 100%;
                height: fit-content;

                .content-wrapper {
                    padding: 10px;
                    margin-bottom: 10px;
                    color: #626262;
                    transition: 0.2s;
                    border-radius: 6px;

                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    align-items: center;
                    align-content: flex-start;

                    box-shadow: -4px -2px 4px 0px #262830,
                    4px 2px 6px 0px #111316;

                    .label {
                        width: fit-content;
                        min-width: 200px;
                        max-width: 300px;
                        height: fit-content;
                        font-weight: 600;
                    }

                    .content {
                        height: fit-content;
                    }

                    &:hover {
                        cursor: pointer;

                        .label {

                        }
                        .content {

                        }
                    }
                }
            }

            .core-app-style__dropdown {
                width: 100%;
                height: 45px;

                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: center;
                align-content: flex-start;

                select {
                    width: 100%;
                    height: 100%;
                    padding: 0 40px 0 15px;
                    border: none;
                    outline: none;
                    transition: 0.1s;
                    color: #6DC5CB;
                    border-radius: 6px;
                    background-color: #1b1f23;
                    box-shadow: -4px -2px 4px 0px #262830,
                    4px 2px 6px 0px #111316;
                    font-size: 16px;

                    &:focus {
                        border: none;
                        outline: none;
                    }
                }

                button {
                    height: 45px !important;
                    width: 45px !important;
                    margin-left: 10px;

                    i {
                        font-size: 16px;
                    }
                }
            }

            .core-app-style__list-group {

            }

            .core-app-style__modal {
                .modal-mask {
                    position: fixed;
                    z-index: 9998;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    display: table;
                    transition: opacity 0.5s ease;
                }

                .modal-wrapper {
                    display: table-cell;
                    vertical-align: middle;
                    height: auto;
                    transition: 0.2s;
                }

                .modal-container {
                    width: 1200px;
                    margin: 0 auto;
                    transition: all 0.5s ease;
                    overflow: hidden;
                    padding: 5px;

                    border-radius: 6px;
                    background: #1b1f23;
                    box-shadow: inset -2px -2px 4px rgba(0,0,0,0.5),
                    inset 2px 2px 4px rgba(255,255,255,0.07);
                }

                .modal-header {
                    height: 40px;
                    margin-top: 0;
                    padding: 5px;
                    color: #626262;
                    font-size: 18px;
                    font-weight: 500;
                }

                .modal-body {
                    position: relative;
                    height: 700px;
                    border-top: 1px solid #626262;
                    font-size: 16px;
                    background-color: inherit;
                }

                .modal-enter-from {
                    opacity: 0;
                }

                .modal-leave-to {
                    opacity: 0;
                }

                .modal-body-class {
                    z-index: 5;
                }

                .modal-overlay-class {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 10;
                    width: 100%;
                    height: 100%;
                    background-color: gray;
                    opacity: 0.5;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .core-app-style__navbar {

            }

            .core-app-style__pagination {

            }

            .core-app-style__notification {
                width: fit-content;
                max-width: 100%;
                font-size: 14px;
                height: 45px;
                line-height: 45px;
                margin: 5px 0;
                padding: 0 10px;
                background-color: #1b1f23;
                box-shadow: -4px -2px 4px 0px #262830,
                4px 2px 6px 0px #111316;
                border-radius: 4px;
                transition: 0.2s;

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                align-content: center;

                &.input-error-notification {
                    max-width: 300px;
                    height: 25px;
                    line-height: 25px;
                    color: #E96066;
                    font-size: 12px;
                }

                .notification-icon {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background-color: #1b1f23;
                    box-shadow: inset -2px -2px 6px rgba(255,255,255,0.05),
                    inset 2px 2px 6px rgba(0,0,0,0.5);
                    margin-right: 10px;

                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    align-content: center;

                    i {
                        font-size: 22px;
                        text-shadow: 0 0 8px rgba(255,255,255, 0.5);
                    }
                }

                &.success {
                    color: #BCE1A3;
                    .notification-icon {
                        i {
                            color: #BCE1A3;
                        }
                    }
                }

                &.warning {
                    color: #E58E33;
                    .notification-icon {
                        i {
                            color: #E58E33;
                        }
                    }
                }

                &.error {
                    color: #E96066;
                    .notification-icon {
                        i {
                            color: #E96066;
                        }
                    }
                }
            }

            .core-app-style__checkbox {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                align-content: center;

                .on-off
                {
                    position: relative;
                    width: 65px;
                    height: 35px;
                    font: 500 10px arial;
                    margin: 0 !important;
                }

                .on-off input
                {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                .slider
                {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 100px;
                    background: #1b1f23;
                    //box-shadow: inset -2px -2px 5px rgba(255,255,255,1), inset 3px 3px 5px rgba(0,0,0,0.07);
                    box-shadow: -4px -2px 4px 0px #262830, 4px 2px 6px 0px #111316;
                    transition: 0.4s ease ease;
                }
                .slider:before
                {
                    position: absolute;
                    content:"No";
                    text-align: center;
                    line-height: 28px;
                    width: 28px;
                    height: 28px;
                    left: 5px;
                    bottom: 4px;
                    background: #1b1f23;
                    //box-shadow: -2px -2px 5px rgba(255,255,255,1), 3px 3px 5px rgba(0,0,0,0.07);
                    box-shadow: -4px -2px 4px 0px #262830, 4px 2px 6px 0px #111316;
                    border-radius: 100px;
                    transition: 0.4s;
                }
                input:checked + .slider
                {
                    background: #1C1E24;
                    box-shadow: inset -2px -2px 6px rgba(255,255,255,0.05),
                    inset 2px 2px 6px rgba(0,0,0,0.5);
                    transition:0.4s;
                }

                input:checked + .slider:before
                {
                    content: "Yes";
                    transform: translateX(26px);
                    background: #1C1E24;
                    box-shadow: -2px -2px 6px rgba(255,255,255,0.05),
                    2px 2px 6px rgba(0,0,0,0.5);
                    color: #6DC5CB;
                    text-shadow: 0 0 8px rgba(255,255,255, 0.5),
                    0 0 8px rgb(255,255,255, 0.5);
                    width: 28px;
                    height: 28px;
                    left: 5px;
                    bottom: 4px;
                    transition: 0.4s;
                }
            }

            /// FORMS
            .core-app-style__form {
                position: absolute;
                width: 100%;
                height: 100%;
                overflow: hidden;
                padding: 0;
                background-color: inherit;

                .form-content {
                    width: 100%;
                    height: calc(100% - 60px);
                    padding: 5px 15px;
                    overflow-y: scroll;
                }

                .form-footer {
                    position: sticky;
                    bottom: 0;
                    width: 100%;
                    height: 60px;
                    padding: 0 5px;
                    border-top: 1px solid #626262;

                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    align-items: center;
                    align-content: center;
                }

                .form-loading {
                    z-index: 10;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                }

                .input_wrapper {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin-bottom: 10px;

                    .input_label {
                        height: 30px;
                        font-size: 16px;
                        font-weight: 500;
                        color: #626262;
                    }

                    .input-error-label {
                        max-width: 300px;
                        height: 25px;
                        line-height: 25px;
                        margin: 6px 0 0 5px;
                        color: #E96066;
                        font-size: 12px;
                        padding: 0 10px;
                        background-color: #1b1f23;
                        box-shadow: -4px -2px 4px 0px #262830,
                        4px 2px 6px 0px #111316;
                        border-radius: 4px;
                        transition: 0.2s;
                    }

                    .input_validator {
                        position: relative;
                        width: 500px;


                        input {
                            left: 0;
                            top: 0;
                            min-height: 45px;
                            width: 100%;
                            padding: 0 40px 0 15px;
                            border: none;
                            outline: none;
                            transition: 0.1s;

                            //color: #626262;
                            color: #6DC5CB;
                            border-radius: 6px;
                            background-color: #1b1f23;
                            box-shadow: -4px -2px 4px 0px #262830,
                            4px 2px 6px 0px #111316;
                            font-size: 16px;
                        }

                        textarea {
                            left: 0;
                            top: 0;
                            min-height: 45px;
                            width: 100%;
                            padding: 5px 40px 5px 15px;
                            border: none;
                            outline: none;
                            transition: 0.1s;

                            //color: #626262;
                            color: #6DC5CB;
                            border-radius: 6px;
                            background-color: #1b1f23;
                            box-shadow: -4px -2px 4px 0px #262830,
                            4px 2px 6px 0px #111316;
                            font-size: 16px;
                        }

                        .input_validator_status {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: 0.2s;

                            animation: inputValidatorStatus_Anim 0.2s ease-in-out infinite alternate;

                            .input_icon {
                                display: none;
                                font-size: 20px;
                            }
                        }

                        &.success {
                            input {

                            }

                            .input_validator_status {
                                .input_icon {
                                    display: block;
                                    color: green;
                                }
                            }
                        }

                        &.error {
                            input {
                                border: 1px solid #E96066;
                            }

                            .input_validator_status {
                                .input_icon {
                                    display: block;
                                    color: #E96066;
                                }
                            }
                        }

                    }
                }

                .label {

                }

                .validation {

                }

                .core-app-style__input {

                    input {

                    }
                }


                .core-app-style__radio {

                }
            }

            .core-app-style__label {

            }

            .core-app-style__loader {

            }

            .core-app-style__skeleton {
                .skeleton-box {
                    display: inline-block;
                    height: 1em;
                    position: relative;
                    overflow: hidden;
                    background-color: #1b1f23;
                    border-radius: 6px;
                    box-shadow: -4px -2px 4px 0px #262830,
                    4px 2px 6px 0px #0e1013;

                    &::after {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        transform: translateX(-100%);
                        background-image: linear-gradient(90deg, rgba(#626262, 0) 0, rgba(#626262, 0.2) 20%, rgba(#626262, 0.5) 60%, rgba(#626262, 0)
                        );
                        animation: shimmer 2s infinite;
                        content: '';
                    }

                    @keyframes shimmer {
                        100% {
                            transform: translateX(100%);
                        }
                    }
                }
            }

            .core-refresh {
                width: 35px;
                height: 35px;
                overflow: hidden;
                position: relative;
                outline: none;
                border: none;
                margin: 5px;
                padding: 2px;
                border-radius: 6px;
                background-color: #1b1f23;
                box-shadow: -4px -2px 4px 0px #262830,
                4px 2px 6px 0px #111316;
                cursor: pointer;

                &.active {
                    .component-refresh {
                        i {
                            color: #F6FB45;
                            animation: componentRefresh_Anim 1s linear infinite;
                            text-shadow: 0 0 8px rgba(255,255,255, 0.5);
                        }
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        border-radius: 6px;
                        box-shadow: 2px 2px 2px 0px #111316 inset,
                        -2px -2px 2px 0px #262830 inset;
                    }
                }

                &:active, &:focus {
                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        border-radius: 6px;
                        box-shadow: 2px 2px 2px 0px #111316 inset,
                        -2px -2px 2px 0px #262830 inset;
                    }
                }

                .component-refresh {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    align-content: center;

                    i {
                        font-size: 20px;
                        color: #626262;
                        animation: componentRefresh_Anim 8s linear infinite;
                    }
                }
            }
        }
    }

    .core-black-white-style {

    }

    @keyframes inputValidatorStatus_Anim {
        0% {
            transform: translateY(2px);
        }

        100% {
            transform: translateY(-2px);
        }
    }

    @keyframes componentRefresh_Anim {
        to {
            transform: rotate(1turn);
        }
    }

    /// processing - start
    .processing-enter-active {
        transition: all 0.1s;
        animation: processing-jump-jump-out_Anim 0.1s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
    }
    .processing-leave-active {
        transition: all 0.1s;
        animation: processing-jump-jump-in_Anim 0.1s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
    }

    .processing-enter-from,
    .processing-leave-to {
        transform: scaleY(0);
        opacity: 0;
    }
    @keyframes processing-jump-jump-out_Anim {
        0% {
            transform: scale(0.8);
            transform-origin: center;
            opacity: 0;
        }

        100% {
            transform: scale(1);
            transform-origin: center;
            opacity: 1;
        }
    }
    @keyframes processing-jump-jump-in_Anim {
        0% {
            transform: scale(1);
            transform-origin: center;
            opacity: 1;
        }

        100% {
            transform: scale(0.8);
            transform-origin: center;
            opacity: 0;
        }
    }
    /// processing - end
}